body{background-color:#ffffff !important;}

#page_bookings #cal_controls {
	margin-bottom: 0px !important
}

.date-pickers-bookings-filter{
	width: 70%;
}

/*
.search-filter .ui-datepicker-trigger img {
	position: absolute;
	margin-top: -5px;
	margin-left: -15px;
}
*/

.table-bookings-filter tr td {
	padding: 0px !important;
}
.table-bookings-filter .date-pickers-bookings-filter {
	float: left;
}

.select-bookings-filter {
	margin-right: 10px;
	width: 90%;
}


.list tr:nth-child(2n+1) td {
	background-color: #efefef !important;
}

.list thead tr:nth-child(1) td {
	background-color: #8c8c8c !important;
}

.properties-drag-instructions {
	margin-top: 15px;
	margin-left: 10px;
}

.pagination {
	margin-top: 15px;
	border-top: 1px solid #e4e4e4;
	padding-top: 25px;
}

.pagination ul li {
	display: inline-block;
}
.pagination ul li a {
	margin-right: 5px;
	background-color: #efefef;
	color: #333333;
	padding: 10px;
	text-align: center;
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.pagination ul li a:hover, .pagination ul li a.active {
	background-color: #00aeef;
	color: #ffffff;
}